
<div class="row">
  <%= for photo <- @post.photos do %>
    <img src="<%= Flour.Picture.thumb_url({photo.name, photo}) %>"/>
  <% end %>
</div>
<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
