
@import "./node_modules/materialize-css/sass/materialize"; 
//@import "materialize-css"; 
.honey-card{
  margin-top:0;
}

.help-block{
  color: #b71c1c;
}

  .col.ph{
    padding: 0 0.1rem;
  }

.flower-count{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  padding: 0 5px;
  color: 000000;
}

