
@import "./node_modules/materialize-css/sass/materialize"; 
//@import "materialize-css"; 
.honey-card{
  margin-top:0;
}

.help-block{
  color: #b71c1c;
}

  .col.ph{
    padding: 0 0.1rem;
  }

.flower-count{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  padding: 0 5px;
  color: #ef5350;
}

.wo-ai-code{
  width: 100px;
}
.navbar-fixed-new{
  width: 100%;
  position: fixed;
  height: 54px;
  bottom: 0;
  line-height: 54px;
  nav{
    background-color: #f06292;
    height: 54px;
    line-height: 54px;
  }
  .nav-wrapper{
  }
}
.holder-div{
  height: 100px;
}
